body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0; /* Alterar para a cor de fundo desejada */
}

.navbar {
    background-color: #333;
    padding: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Garante que a navbar fique acima do spinner */
}

.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar-item {
    margin: 0 15px;
}

.navbar-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.navbar-link:hover {
    text-decoration: underline;
}

#teamsBackground {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100vh - 60px); /* Ajuste a altura conforme a altura da navbar */
    padding: 30px;
    box-sizing: border-box; /* Inclui padding e bordas no tamanho total do elemento */
}

.match-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Garante que as imagens estejam centralizadas horizontalmente */
    margin-bottom: 90px; /* Espaço entre partidas */
    gap: 20px; /* Adiciona espaçamento entre as imagens dentro de cada partida */
}

.spinner {
    border: 8px solid #f3f3f3; /* Cor de fundo do spinner */
    border-top: 8px solid #3498db; /* Cor do topo do spinner */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
