body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0; /* Alterar para a cor de fundo desejada */
}

.navbar {
    background-color: #333;
    padding: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Garante que a navbar fique acima do spinner */
}

.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between; /* Espaça os itens de forma que o logout fique na extremidade direita */
    align-items: center;
}

.navbar-item {
    margin: 0 15px;
}

.navbar-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.navbar-link:hover {
    text-decoration: underline;
}

/* Estilo específico para o botão de logout */
.navbar-logout {
    font-weight: bold; /* Apenas um exemplo, ajuste conforme necessário */
}

/* Remove a margem do item de logout para alinhamento adequado */
.navbar-item-logout {
    margin-left: auto; /* Move o botão de logout para o lado direito */
}

#teamsBackground {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100vh - 60px); /* Ajuste a altura conforme a altura da navbar */
    padding: 30px;
    box-sizing: border-box; /* Inclui padding e bordas no tamanho total do elemento */
}

#content {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
}
.paginator {
    display: flex;
    justify-content: center;
}
.paginator button {
    margin: 0 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #ddd;
    background-color: #f0f0f0;
    cursor: pointer;
}
.paginator button.active {
    background-color: #007bff;
    color: white;
}

.match-container {
    background-color: #dedede;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center; /* Garante que as imagens estejam centralizadas horizontalmente */
    margin-bottom: 90px; /* Espaço entre partidas */
    gap: 20px; /* Adiciona espaçamento entre as imagens dentro de cada partida */
}

.spinner {
    border: 8px solid #f3f3f3; /* Cor de fundo do spinner */
    border-top: 8px solid #3498db; /* Cor do topo do spinner */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1.5s linear infinite;
}

.match-container {
    display: flex;
    flex-direction: column; /* Empilha os elementos verticalmente */
    align-items: center; /* Centraliza os elementos horizontalmente */
    margin-bottom: 15px; /* Espaçamento entre os jogos */
}

.images-container {
    display: flex;
    align-items: center; /* Alinha as imagens verticalmente no centro */
    margin-bottom: 7px; /* Espaçamento entre as imagens e o placar */
}

.scoreboard {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.match-date {
    font-size: 14px;
    color: #555; /* Cor para a data, ajuste conforme necessário */
}

.buy-points-container {
    width: 80%;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.buy-points-header {
    text-align: center;
    margin-bottom: 20px;
}

.buy-points-header h1 {
    color: #333;
}

.buy-points-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.buy-points-purchase-options {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.buy-points-card {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 5%;
    width: 250px;
}

.buy-points-card h3 {
    margin-top: 0;
}
/* 
button {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #0056b3;
} */

.buy-points-payment-methods {
    margin-top: 20px;
}

.buy-points-method {
    margin: 10px 0;
}

.buy-points-checkout {
    text-align: center;
    margin-top: 20px;
}

.buy-points-footer {
    text-align: center;
    margin-top: 20px;
    color: #666;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}




#betBox {
    display: none;
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.radio-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.radio-group input[type="radio"] {
    display: none;
}

.radio-group label {
    padding: 5px 8px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 3px;
    text-align: center;
    font-size: 12px;
    transition: background-color 0.3s, color 0.3s;
    flex-grow: 1;
    margin-right: 2px;
}

.radio-group label:last-child {
    margin-right: 0;
}

.radio-group input[type="radio"]:checked + label {
    background-color: #4CAF50;
    color: white;
    border-color: #4CAF50;
}

#points {
    width: 100%;
    padding: 5px;
    margin-bottom: 8px;
    box-sizing: border-box;
    font-size: 12px;
}

#betBtn {
    width: 100%;
    padding: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
}

#betBtn:hover {
    background-color: #45a049;
}