/* Estilo da Navbar */
.navbar {
    background-color: #007bff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
}

.navbar-logo img {
    height: 40px;
}

.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-grow: 1; /* Faz com que a barra ocupe o espaço restante */
}

.navbar-menu li {
    margin: 0 10px;
    position: relative;
}

.navbar-menu a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    display: block;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar-menu a:hover {
    background-color: #0056b3;
    border-radius: 5px;
}

.navbar-menu .dropdown:hover .dropdown-content {
    display: block;
}

/* Dropdown */
.dropdown .dropbtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown .arrow-down {
    margin-left: 5px;
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.navbar-item-points {
    margin-left: auto; /* Move o contador para o lado direito */
    padding: 10px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}

.navbar-item-welcome {
    margin-left: auto; /* Move o item de boas-vindas para o lado direito */
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    margin-left: 20px; /* Ajuste o espaçamento conforme necessário */
}

#welcome-message {
    color: #ffffff; 
    text-align: right; /* Alinha o texto à direita */
}

/* Responsividade da Navbar */
@media screen and (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-menu {
        flex-direction: column;
        width: 100%;
    }

    .navbar-menu li {
        width: 100%;
        margin: 5px 0;
    }

    .navbar-menu a {
        width: 100%;
        text-align: left;
    }

    /* O item de boas-vindas também precisa ser ajustado */
    .navbar-item-welcome {
        margin-left: 0; /* Remove o espaçamento à esquerda */
        text-align: left; /* Alinha o texto à esquerda em telas pequenas */
        width: 100%; /* Garante que ele ocupe 100% da largura */
    }
}
