/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    color: #333;
}

h1 {
    color: #444;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilo geral da tela de partidas */
#teamsBackground {
    background-color: #f0f2f5;
    padding: 20px;
    border-radius: 8px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    position: relative; /* Necessário para posicionar o spinner dentro */
    min-height: 100vh; /* Garante que o background tenha altura mínima para centralizar o spinner */
}
/* Estilo do título */
#teamsBackground h1 {
    color: #1a73e8;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Container principal da partida */
.match-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.match-container:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Container das imagens */
.images-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

/* Imagens das equipes */
.images-container img {
    border-radius: 50%;
    object-fit: cover;
}

/* Estilo do placar */
.scoreboard {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 10px;
}

/* Estilo da data do jogo */
.match-date {
    color: #666;
    font-size: 14px;
    text-align: center;
    margin-bottom: 15px;
}

/* Container de apostas */
.container-bet {
    text-align: center;
    margin-top: 20px; /* Aumentado para mais espaçamento */
}

#openBoxBtn {
    background-color: #1a73e8; /* Cor azul */
    color: white;
    padding: 10px 20px; /* Tamanho do padding */
    border: none;
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer;
    font-size: 16px; /* Tamanho da fonte aumentado */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transições suaves */
    margin-top: 10px; /* Espaçamento superior */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
}

#openBoxBtn:hover {
    background-color: #0b5ed7; /* Cor de fundo ao passar o mouse */
    transform: scale(1.02); /* Leve aumento ao passar o mouse */
}

.betBox {
    background-color: #ffffff; /* Fundo branco para destaque */
    border: 1px solid #ccc; /* Borda leve para destaque */
    padding: 20px; /* Espaçamento interno aumentado */
    border-radius: 8px;
    margin-top: 15px; /* Maior espaçamento superior */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Adicionada transição suave */
}

.betBox:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Aumenta a sombra ao passar o mouse */
    transform: scale(1.02); /* Leve aumento ao passar o mouse */
}

.radio-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.radio-group input[type="radio"] {
    display: none;
}

.radio-group label {
    padding: 5px 8px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 3px;
    text-align: center;
    font-size: 12px;
    transition: background-color 0.3s, color 0.3s;
    flex-grow: 1;
    margin-right: 2px;
}

.radio-group label:last-child {
    margin-right: 0;
}

.radio-group input[type="radio"]:checked + label {
    background-color: #a0a2a1;
    color: white;
}

.points {
    width: 80px; /* Largura aumentada */
    padding: 8px; /* Mais espaçamento interno */
    font-size: 16px; /* Tamanho da fonte maior */
    margin-left: 10px;
    margin-top: 15px; /* Margem superior aumentada */
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra interna para destaque */
    transition: border-color 0.3s ease; /* Transição suave na cor da borda */
}

.points:focus {
    border-color: #1a73e8; /* Cor da borda ao focar */
    outline: none; /* Remove o outline padrão */
}

.betBtn {
    background-color: #1a73e8;
    color: white;
    padding: 10px 20px; /* Aumentado para um botão mais proeminente */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; /* Tamanho da fonte maior */
    margin-left: 20px;
    margin-top: 20px; /* Margem superior aumentada */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transição suave para background e transformação */
}

.betBtn:hover {
    background-color: #0b5ed7; /* Cor mais escura ao passar o mouse */
    transform: translateY(-2px); /* Leve elevação ao passar o mouse */
}

/* Estilo do paginator */
.paginator {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.paginator button {
    background-color: #1a73e8;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.paginator button.active {
    background-color: #9ebce8;
}

.paginator button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

.paginator button:hover:not(:disabled) {
    background-color: #0b5ed7;
}

/* Estilo para o popup */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
}

#popup-message {
    margin-bottom: 20px;
    font-size: 18px;
    text-align: center;
}

.popup button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    transition: background-color 0.3s;
}

.popup button:hover {
    background-color: #0056b3;
}
